{% extends "@App/admin/baseAdmin.html.twig" %}

{% block content %}

    <div class="pt-5">
        <a href="{{ path('admin_produit_create') }}">
            <button type="button" class="btn btn-success">
                Créer un produit
            </button>
        </a>
    </div>
    <table class="table">
    <thead>
    <tr class="thead-dark text-center">
        <th scope="col">Name</th>
        <th scope="col">Base</th>
        <th scope="col">Ingredients</th>
        <th scope="col">Price</th>
        <th scope="col">Voir</th>
        <th scope="col">Editer</th>
        <th scope="col">Supprimer</th>

    </tr>
    </thead>
    <tbody>
    {% for produit in produits %}
        <tr class="bg-light">
            <td>
                <div class="align-self-center">
                    <div>
                    {{ produit.name }}
                    </div>
                </div>
            </td>
            <td class="text-center">
                {{ produit.categorie.type }}
            </td>
            <td class="text-center">
                {{ produit.ingredients }}
            </td>
            <td class="text-center">
                {{ produit.price }}
            </td>
            <td class="text-center">
                <div class="img-admin">
                    <img src="{{ asset('img/produits/' ~ produit.img) }}" alt="photo du produit" class="img-fluid img-contain">
                </div>
            </td>
            <td class="text-center">
                <a href="{{ path('admin_produit_update', {'id':produit.id}) }}">
                    <button type="button" class="btn btn-warning">
                        Modifier
                    </button>
                </a>
            </td>
            <td>
                <div class="text-center">
                    <a href="{{ path('admin_produit_delete', { 'id':produit.id }) }}">
                        <input type="hidden" name="deleteAuthor" value="DELETE" />
                        <button type="submit" class="btn btn-danger">Suppr</button>
                    </a>
                </div>
            </td>
        </tr>
    {% endfor %}
{% endblock %}